@font-face {
    font-family: 'AFuturaRound';
    src: url('fonts/afuturaround-regular-webfont.eot');
    src: url('fonts/afuturaround-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/afuturaround-regular-webfont.woff2') format('woff2'),
         url('fonts/afuturaround-regular-webfont.woff') format('woff'),
         url('fonts/afuturaround-regular-webfont.ttf') format('truetype'),
         url('fonts/afuturaround-regular-webfont.svg#a_futuraroundregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AFuturaRound';
    src: url('fonts/afuturaround-bold-webfont.eot');
    src: url('fonts/afuturaround-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/afuturaround-bold-webfont.woff2') format('woff2'),
         url('fonts/afuturaround-bold-webfont.woff') format('woff'),
         url('fonts/afuturaround-bold-webfont.ttf') format('truetype'),
         url('fonts/afuturaround-bold-webfont.svg#a_futuraroundbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'AFuturaRoundDemi';
    src: url('fonts/afuturarounddemi-webfont.eot');
    src: url('fonts/afuturarounddemi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/afuturarounddemi-webfont.woff2') format('woff2'),
         url('fonts/afuturarounddemi-webfont.woff') format('woff'),
         url('fonts/afuturarounddemi-webfont.ttf') format('truetype'),
         url('fonts/afuturarounddemi-webfont.svg#a_futurarounddemiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { height: 100%; }
body { height: 100%; margin: 0; color: #000000; font-weight: normal; font-style: normal; font-family: 'AFuturaRound', Arial; line-height: 1.5em; font-size: 100%; background: #ffffff; min-width: 320px; }

.container { min-height: 100%; }
.wrapper { width: 100%; min-height: 100%; }
.wrapper .empty { height: 151px; }
.clear { clear: both; }

.inner { width: 89.34%; padding: 0 5.33%; max-width: 1072px; margin: 0 auto; position: relative; }
.track-line { height: 26px; background: url('/images/tracks.png') repeat-x center; }
.delta-line { height: 9px; background: url('/images/delta.png') repeat-x center; position: absolute; width: 100%; }
.delta-line.r { background-image: url('/images/delta-r.png'); top: 0; }

header { position: relative; width: 100%; height: auto; max-height: 320px; background: #f1e7d7 url('/images/tex.png') center; overflow: hidden; padding-bottom: 9px; }
header .delta-line { bottom: 0; }
header .top { display: table; }
header .top .logo { display: table-cell; width: 62.5%; vertical-align: middle; padding: 3% 0; }
header .top .logo img { width:100%; vertical-align: middle; }
header .top .helps { display: table-cell; width: 37.5%; vertical-align: middle; padding-left: 12.78%; background: url('/images/helps.png') no-repeat 18% center; line-height: 1.5em; color: #53443e; font-size: 1.4em; font-family: 'AFuturaRoundDemi'; position: relative; }
header .top .helps .att { position: absolute; top: 47%; display: none; width: 80%; left: 0; text-align: center; padding-left: 32%; font-size: 0.9375em; color: #ffffff; }
header .bot { display: table; width: 100%; padding: 3% 0; }
header .bot .bot-l, header .bot .bot-r { display: table-cell; vertical-align: top; position: relative; vertical-align: middle; }
header .bot .bot-l { width: 56.9%; }
header .bot .bot-l .tcl { width: 44%; }
header .bot .bot-l .s-btn { margin-right: 3%; }
header .bot .bot-l .s-btn.par { margin-right: 0; }
header .bot .bot-r { width: 43.1%; text-align: right; vertical-align: middle; }
header .bot .bot-r div { display: inline; }
header .bot .bot-r a { display: inline-block; vertical-align: middle; }
header .bot .bot-r a img { max-width: 100%; max-height: 100%; }


.tcl { display: table-cell; text-align: left; }
.tcr { display: table-cell; text-align: right; }
.fl { float: left; }
.wsnw { white-space: nowrap; }
.did { display: inline-block; }

footer { width: 100%; height: 126px; margin-top: -151px; padding-top: 25px; background: #f1e7d7 url('/images/tex.png') center; position: relative; overflow: hidden; }
footer .bot { display: table; width: 100%; height: 100px; }
footer .logo, footer .dev { display: table-cell; vertical-align: middle; }
footer .logo { width: 53.17%; height: 64px; max-width: 670px;  }
footer .logo img { vertical-align: middle; max-width: 300px; height: 64px; }
footer .dev { width: 35.86%; padding-left: 20%; text-align: right; }
footer .dev img { max-width: 161px; width: 100%; vertical-align: middle; }

.content{ width:100%; position: relative; overflow: hidden; padding-bottom: 20px; font-family: 'AFuturaRound'; }

.s-btn { display: inline-block; text-decoration: none; text-transform: uppercase; font-family: 'AFuturaRoundDemi'; color: #ffffff; font-size: 1.3em; padding: 0 3%; line-height: 2.6168em; border: 1px solid #cd5927; border-radius: 1.3em; background: #f16022; background: -moz-linear-gradient(top, #f59166 0%, #f16123 100%); background: -webkit-linear-gradient(top, #f59166 0%, #f16123 100%); background: -o-linear-gradient(top, #f59166 0%, #f16123 100%); background: -ms-linear-gradient(top, #f59166 0%, #f16123 100%); background: linear-gradient(top, #f59166 0%, #f16123 100%); box-shadow: 0 2px 0 rgba(255, 255, 255, .44) inset, 0 1px 1px rgba(0, 0, 0, .19);  word-wrap: normal; margin-right: -4px; text-shadow: 0 -1px 0 rgba(0, 0, 0, .2); outline: none; }
.s-btn.par { margin-right: 0; }
.sc-btn { display: inline-block; background: #d4cdae; background: -moz-linear-gradient(top, #d4cdae 0%, #ded9c2 100%); background: -webkit-linear-gradient(top, #d4cdae 0%, #ded9c2 100%); background: -o-linear-gradient(top, #d4cdae 0%, #ded9c2 100%); background: -ms-linear-gradient(top, #d4cdae 0%, #ded9c2 100%); background: linear-gradient(top, #d4cdae 0%, #ded9c2 100%); box-shadow: 0 1px 1px rgba(255, 255, 255, 1) , 0 1px 3px rgba(0, 0, 0, .25) inset; height: 2.4375em; line-height: 2.4375em; border-radius: 1.4em; font-size: 1em; margin-top: 1px; margin-right: 1%; opacity: 0.6; }
.sc-btn.i { background: #6d3c2c; }
.sc-btn.f { background: #00599f; }
.sc-btn.t { background: #00aff5; }
.sc-btn.v { background: #00668f; }
.sc-btn.o { background: #ff9400; }
.sc-btn:hover { opacity: 1; }
.sc-sh-btn { display: inline-block; border: 1px solid #cecdcd; border-radius: 1.4em; height: 2.3em; line-height: 2.4em; text-decoration: none; background: #f0ebd8; background: -moz-linear-gradient(top, #f0ebd8 0%, #dad6c2 100%); background: -webkit-linear-gradient(top, #f0ebd8 0%, #dad6c2 100%); background: -o-linear-gradient(top, #f0ebd8 0%, #dad6c2 100%); background: -ms-linear-gradient(top, #f0ebd8 0%, #dad6c2 100%); background: linear-gradient(top, #f0ebd8 0%, #dad6c2 100%); font-family: 'Myriad Pro'; color: #817877; text-transform: uppercase; padding: 0 4%; font-size: 1em; box-shadow: 0 2px 0 rgba(255, 255, 255, .44) inset, 0 1px 1px rgba(0, 0, 0, .19); cursor: default; }
.sc-sh-btn a { padding: 0!important; line-height: 2.4em; float: none; height: auto; }
.sc-sh-btn span { padding: 0!important; font-family: 'Myriad Pro'; margin: 0; font-size: 1em;}
.s-btn.back { background: none; border: none; box-shadow: none; padding: 0; position: relative; padding-left: 12%; font-family: 'AFuturaRoundDemi'; text-transform: uppercase; color: #52443e; }
.s-btn.back img { position: absolute; width: 32%; left: 0; }
.s-btn.favorite { padding-left: 13%; position: absolute; right: 0; }
.s-btn.favorite img { width: 19%; position: absolute; left: 13px; top: 9px; }

.content p { font-family: 'Verdana'; font-size: 0.9375em; line-height: 1.2667em; margin: 2px 0 ; clear: both; }
.content h1, h2, h3 { font-family: 'AFuturaRoundDemi'; text-align: center; font-weight: normal; }
.content h1 { font-size: 1.9375em; color: #1f1f1f; margin-bottom: 10px; }
.content h2 { font-size: 1.5625em; color: #000000; margin-bottom: 8px; }
.content h3 { font-size: 1.0625em; color: #000000; margin-bottom: 6px; }
.content a { color: #f47745; }
.content img { border: none; border-radius: 8px; margin-right: 1%; margin-top: 4px; margin-bottom: 6px; }
.content table { width: 100%; margin-bottom: 15px; margin-top: 7px; font-family: Verdana; font-size: 0.9375em; border: 1px solid #f9d9bf; text-align: center; border-radius: 8px; border-spacing: 0; overflow: hidden; box-shadow:0 1px 1px rgba(0, 0, 0, .19); }
.content table thead tr { position: relative; font-size: 0.933em; font-family: 'AFuturaRoundDemi'; color:#3d3c3c; background: #f7a07d; background: -moz-linear-gradient(top, #f7a07d 0%, #f69974 100%); background: -webkit-linear-gradient(top, #f7a07d 0%, #f69974 100%); background: -o-linear-gradient(top, #f7a07d 0%, #f69974 100%); background: -ms-linear-gradient(top, #f7a07d 0%, #f69974 100%); background: linear-gradient(top, #f7a07d 0%, #f69974 100%); }
.content table thead tr th { padding: 9px 0; font-weight: normal; text-transform: uppercase; box-shadow: 0 2px 0 rgba(255, 255, 255, .44) inset;  } 
.content table thead tr th:first-child { border-radius: 8px 0 0 0; } 
.content table thead tr th:last-child { border-radius: 0 8px 0 0; } 
.content table tbody tr { background: #ffffff;}
.content table tbody tr:nth-child(even) { background: #eee5d8; background: -moz-linear-gradient(top, #eee5d8 0%, #ece3d4 100%); background: -webkit-linear-gradient(top, #eee5d8 0%, #ece3d4 100%); background: -o-linear-gradient(top, #eee5d8 0%, #ece3d4 100%); background: -ms-linear-gradient(top, #eee5d8 0%, #ece3d4 100%); background: linear-gradient(top, #eee5d8 0%, #ece3d4 100%); }
.content table tbody tr td { padding: 7px 0; }
.content table tbody tr:last-child td:first-child { border-radius: 0 0 0 8px; }
.content table tbody tr:last-child td:last-child { border-radius: 0 0 8px 0; }
.content ul { margin: 0; padding: 0; list-style-type: none; margin-bottom: 8px; }
.content ol { margin: 0 0 0 20px; margin-bottom: 25px;}
.content ul li { padding: 0; background: url('/images/track.png') no-repeat left 4px; padding-left: 20px; }
.content ul li p { margin: 0; text-indent: 0px;  }
.content ol li { margin: 0; padding: 0; }

/* Виджет категорий */
.catalog-categories { padding: 40px 0 20px 0; }
.catalog-categories .categories { display: table; width: 100%; }
.catalog-categories .categories .category { display: table-cell; width: 33%; vertical-align: top; }
.catalog-categories .categories .category .image { padding: 0 3%; }
.catalog-categories .categories .category .image img { margin: 0; width: 100%; }
.catalog-categories .categories .category .title { text-align: center; padding-top: 25px; }
.catalog-categories .categories .category .title a { text-decoration: none; font-family: 'AFuturaRoundDemi'; font-size: 2.38875em; color: #1f1f1f; }
/* Виджет категорий END */

/* Одна категория */
.catalog-category { padding: 20px 0; }
.catalog-category h1 { margin: 0; font-size: 1.9375em; line-height: 1.1613em; background: url('/images/cat-border.png') repeat-x center center; }
.catalog-category h1.dog { background-image: url('/images/dog-border.png'); }
.catalog-category h1.bird { background-image: url('/images/bird-border.png'); }
.catalog-category h1 span { padding: 0 15px; background: #ffffff; }
.catalog-category .products { padding-top: 15px; }
.catalog-category .products .product { float: left; width: 30%; margin-right: 5%; margin-bottom: 15px; }
.catalog-category .products .product.nm3 { margin-right: 0; }
.catalog-category .products .product img { margin: 0; width: 100%; }
.catalog-category .products .track-line { clear: both; padding: 10px 0; }
.catalog-category .products .product a { text-decoration: none; font-family: 'AFuturaRoundDemi'; font-size: 1.0625em; color: #1f1f1f; }
.catalog-category .products .product .title { padding: 2px 0 2px 45px; background: url('/images/ic-name.png') no-repeat 14px center; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.catalog-category .products .product .age { padding: 2px 0 2px 45px; background: url('/images/ic-age.png') no-repeat 14px center; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.catalog-category .products .product .sex { padding: 2px 0 2px 45px; background: url('/images/ic-sex.png') no-repeat 14px center; }
.catalog-category .products .product .image { position: relative; }
.catalog-category .products .product .image .add-favorite, .catalog-category .products .product .image .add-favorite-hover { position: absolute; left: 5px; bottom: 10px; width: 18%; }
.catalog-category .products .more { text-align: center; clear: both; }
/* Одна категория END */

/* Один товар */
.catalog-category .product-view { position: relative; }
.catalog-category .product-view .left { display: inline-block; width: 50%; vertical-align: top; }
.catalog-category .product-view .right { display: inline-block; width: 48%; padding-left: 2%; vertical-align: top; }
.catalog-category .product-view img { margin: 0; }
.catalog-category .product-view h1 { margin-bottom: 15px; }
.catalog-category .product-view .left .image img { width: 100%; }
.catalog-category .product-view .left .previews a { float: left; width: 23.5%; padding-right: 2%; }
.catalog-category .product-view .left .previews a:last-child { padding-right: 0; }
.catalog-category .product-view .left .previews a img { width: 100%; }

.catalog-category .product-view .right { font-family: 'AFuturaRoundDemi'; font-size: 1.0625em; color: #1f1f1f; }
.catalog-category .product-view .right div { font-size: 1.4em; padding-top: 7px; padding-bottom: 7px; }
.catalog-category .product-view .right .title { padding-left: 35px; background: url('/images/ic-name.png') no-repeat 7px center; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.catalog-category .product-view .right .age { padding-left: 35px; background: url('/images/ic-age.png') no-repeat 7px center; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.catalog-category .product-view .right .sex { padding-left: 35px; background: url('/images/ic-sex.png') no-repeat 7px center; }
.catalog-category .product-view .right .city { padding-left: 35px; background: url('/images/ic-city.png') no-repeat 7px center; }
.catalog-category .product-view .right .med { padding-left: 35px; background: url('/images/ic-med.png') no-repeat 7px center; }
.catalog-category .product-view .right .terms { padding-left: 35px; background: url('/images/ic-home.png') no-repeat 7px center; }
.catalog-category .product-view .right .color { padding-left: 35px; background: url('/images/ic-color.png') no-repeat 7px center; }
.catalog-category .product-view .right .bug { padding-left: 35px; background: url('/images/ic-bug.png') no-repeat 7px center; }
.catalog-category .product-view .right .track-line { padding: 10px 0; }
.catalog-category .product-view .right h3 { margin: 0; text-align: left; color: #c94d17; font-size: 1.1875em; margin-bottom: 5px; }
.catalog-category .product-view .right .cur { padding-left: 35px; background: url('/images/ic-cur.png') no-repeat 7px center; }
.catalog-category .product-view .right .phone { padding-left: 35px; background: url('/images/ic-phone.png') no-repeat 7px center; }
.catalog-category .product-view .right .s-btn { color: #ffffff; margin-top: 10px; }
.catalog-category .product-view .right .s-btn.add-favorite { position: relative; padding-left: 16%; }
.catalog-category .product-view .right .s-btn.add-favorite img { position: absolute; width: 13%; left: 5%; top: 9px; }
.catalog-category .product-view .right .s-btn.phoneback { position: relative; padding-left: 16%; }
.catalog-category .product-view .right .s-btn.phoneback img { position: absolute; width: 13%; left: 7%; top: 9px; }
.catalog-category .product-view .info { font-family: Verdana; font-size: 0.9375em; line-height: 1.33em; }
.catalog-category .product-view .info h2 { color: #1f1f1f; font-size: 1.5625em; text-align: left; background: url('/images/ic-info.png') no-repeat left center; margin: 0; padding: 18px 0 18px 35px; }
/* Один товар */
.catalog-category .show-hide { display: inline-block; margin-top: 20px; font-size: 1em; font-family: 'AFuturaRoundDemi'; text-decoration: none; text-transform: uppercase; color: #52443e; border-bottom: 1px dashed #52443e; }
/* Форма сайта */
.s-form { border: 1px solid #cd5927; border-radius: 1.3em; background: #f7a07d; background: -moz-linear-gradient(top, #f7a07d 0%, #f47543 100%); background: -webkit-linear-gradient(top, #f7a07d 0%, #f47543 100%); background: -o-linear-gradient(top, #f7a07d 0%, #f47543 100%); background: -ms-linear-gradient(top, #f7a07d 0%, #f47543 100%); background: linear-gradient(top, #f7a07d 0%, #f47543 100%); box-shadow: 0 1px 0 rgba(255, 255, 255, .44) inset, 0 1px 1px rgba(0, 0, 0, .19); padding: 15px 0; margin-top: 20px; font-family: 'AFuturaRoundDemi'; color: #ffffff; position: relative; }
.s-form .row { display: table; width: 100%; vertical-align: top; margin-bottom: 10px; }
.s-form .row.wp { padding: 0 2.85%; width: 94.3%; }
.s-form .row .column { display: table-cell; padding: 0 2.85%; width: 44.3%; vertical-align: top; position: relative; }
.s-form .row .column.mh { min-height: 55px; }
.s-form .row .column .column-left, .s-form .row .column .column-right { display: table; width: 48%; vertical-align: top; position: relative; }
.s-form .row .column .column-right { left: 52%;}
.s-form .row .column .inline { text-align: center; position: relative; }
.s-form .row.buttons { text-align: center; }
.s-form .row.buttons input[type=submit] { display: inline-block; text-decoration: none; text-transform: uppercase; font-family: 'AFuturaRoundDemi'; color: #ffffff; font-size: 1.3em; padding: 0 3%; line-height: 2.6168em; border: none; border-radius: 1.3em; background: #f16022; background: -moz-linear-gradient(top, #f8a846 0%, #f7941e 100%); background: -webkit-linear-gradient(top, #f8a846 0%, #f7941e 100%); background: -o-linear-gradient(top, #f8a846 0%, #f7941e 100%); background: -ms-linear-gradient(top, #f8a846 0%, #f7941e 100%); background: linear-gradient(top, #f8a846 0%, #f7941e 100%); box-shadow: 0 2px 2px rgba(248, 158, 93, 1) inset, 0 -2px 2px rgba(240, 79, 46, 1) inset, 0 1px 1px rgba(210, 101, 58, 1);  word-wrap: normal; margin-right: -4px; text-shadow: 0 -1px 0 rgba(0, 0, 0, .2); outline: none; cursor: pointer;}
.s-form .row h1 { color: #ffffff; margin-top: 5px; background: none; }
.s-form .row label { color: #ffffff; }
.s-form .row label .required { color: #c90000; }
.s-form .row input[type=text] { border: 1px solid #e87948; background: #f9eee9; width: 94%; height: 29px; box-shadow: 0 1px 3px rgba(0, 0, 0, .31); border-radius: 0.8em; padding: 0 3%; outline: none; font-family: 'AFuturaRoundDemi'; font-size: 0.9375em; }
.s-form .row input[type=text].sh { width: 25%; display: inline-block; }
.s-form .row input[type=text].sh:first-child { position: absolute; left: 0; }
.s-form .row input[type=text].sh:last-child { position: absolute; right: 0;  }
.s-form .row select { border: 1px solid #e87948; background: #f9eee9; width: 100%; height: 31px; box-shadow: 0 1px 3px rgba(0, 0, 0, .31); border-radius: 0.8em; padding: 0 2%; outline: none; font-family: 'AFuturaRoundDemi'; font-size: 0.9375em; }
.s-form .row textarea { border: 1px solid #e87948; background: #f9eee9; width: 96%; box-shadow: 0 1px 3px rgba(0, 0, 0, .31); border-radius: 0.8em; padding: 2%; outline: none; resize: none; font-family: 'AFuturaRoundDemi'; font-size: 0.9375em; overflow: hidden; }
.s-form .row input[type=checkbox] { cursor: pointer; border: none; appearance: none; -moz-appearance: none; -webkit-appearance: none; background: #f9eee9; margin: 0; width: 18px; height: 18px; outline: none; border: 1px solid #e87948; border-radius: 2px; position: relative; display: inline-block; vertical-align: middle; }
.s-form .row input[type=checkbox] + label { cursor: pointer; display: inline-block; vertical-align: middle; margin-right: 15px;}
.s-form .row input[type=checkbox]:checked:before { position: absolute; width: 18px; height: 18px; left: 3px; top: 1px; content: ""; background: url('/images/check.png') no-repeat left top; }
.s-form .row input[type=checkbox]:checked + label { color: #1e1e1e; }
.s-form .row input[type=checkbox]:disabled, .s-form .row input[type=checkbox]:disabled + label { opacity: 0.5; }
.s-form .row label.error { color: #c90000; }
.s-form .row input.error, .s-form .row select.error { background: #fac2ac; color: #c90000; }

.s-form .row .column .column-left input, .s-form .row .column .column-right input { padding: 0 6%; width: 12%; position: absolute; left: 16%; }
.s-form .row .column .column-left select, .s-form .row .column .column-right select { padding: 0 6%; width: 55%; position: absolute; right: 0; }
.s-form .row .column .column-left .text, .s-form .row .column .column-right .text { width: 13%; position: absolute; left: 0; line-height: 31px;text-align: right; padding-right: 3%; }
/* Форма сайта END */

.errorSummary { background: #fac2ac; color: #cb0000; border: 2px solid #f16d54; text-align: center; border-radius: 1.3em; margin: 0 2.85% 10px 2.85%; }
.errorSummary ul li { background: none; font-weight: bold; }

.phoneback-container { position: relative; }
.phoneback-container .fancybox-skin { box-shadow: none; background: #ffffff; border: 1px solid #f2672c; border-radius: 10px; }
.phoneback-container .fancybox-skin .fancybox-outer, .phoneback-container .fancybox-skin .fancybox-inner { position: static; }
.phoneback-container .form-close { position: absolute; width: 17px; height: 17px; top: 8px; right: 8px; background: url('/images/close.png') no-repeat center center; }
.pb-form { padding-top: 10px; }
.pb-form .row { font-family: Verdana; font-size: 0.875em; margin-bottom: 20px; display: table; width: 100%; }
.pb-form .row.wp { padding: 0 2.85%; width: 94.3%; }
.pb-form .row.buttons { text-align: center; margin: 0; }
.pb-form .s-btn { font-size: 1em; cursor: pointer; }
.pb-form .row label { font-family: 'AFuturaRoundDemi'; font-size: 1.143em; width: 29%; text-align: left; display: inline-block;}
.pb-form .row input[type=text] { font-family: 'AFuturaRoundDemi'; font-size: 1.143em; line-height: 31px; background: #f7f7f7; outline: none; border: 1px solid #5d5d5d; box-shadow: 0 1px 3px rgba(0, 0, 0, .31); padding: 0 3%; width: 64%; border-radius: 12px; }
.pb-form .row label.error { color: #c90000; }
.pb-form .row input.error, .pb-form .row select.error { background: #fac2ac; color: #c90000; border: 1px solid #c90000; }

@media screen and (max-width: 1024px)
{
	header .top .helps { font-size: 1.1em; padding-left: 13.78%; }
	.s-btn { font-size: 0.875em; }
	header .bot .bot-l { width: 50%; }
	header .bot .bot-r  { font-size: 0.875em; }
	.s-btn.favorite img { top: 5px; }
	.catalog-categories .categories .category .title a { font-size: 1.875em; }
	.catalog-category .product-view .right div { font-size: 1.2em; }
	.catalog-category .product-view .right .s-btn.add-favorite { padding-left: 13%; }
	.catalog-category .product-view .right .s-btn.add-favorite img { top: 7px; }
	.catalog-category .product-view .right .s-btn.phoneback { padding-left: 13%; }
	.catalog-category .product-view .right .s-btn.phoneback img { top: 6px; }
}

@media screen and (max-width: 980px)
{
	header .top .helps { font-size: 1em; padding-left: 14.5%; }
	header .bot .bot-r  { font-size: 0.825em; }
	
}

@media screen and (max-width: 768px)
{
	header .top .logo { width: 82.895%; }
	header .top .helps { width: 12.171%; background-image: url('/images/helps-m.png'); padding-left: 4.934%; background-position: right; background-size: 80%; }
	header .top .helps div { display: none; }
	header .top .helps div.att { display: block; }
	
	header .bot .bot-l, header .bot .bot-r { width: 100%; display: block; }
	header .bot .bot-r { padding-top: 3%; text-align: center;}
	
	header .bot .bot-l .s-btn { margin: 0; }
	.par { position: absolute; right: 0;}
	.s-btn.favorite { position: absolute; padding-left: 10%; }
	.s-btn.favorite img { top: 6px; width: 16%; }
	.s-btn.back { padding-left: 9%; }
	.s-btn.back img { width: 31%; }
	.content p img { width: 49%; }
	.content { font-size: 0.9em; }
	.content ul li { background-position: left 3px; }
	
	.catalog-categories { padding: 20px 0 10px 0; }
	.catalog-categories .categories .category .title a { font-size: 1.5em; }
	
	.catalog-category .products .product { width: 47.5%; }
	.catalog-category .products .product.nm3 { margin-right: 5%; }
	.catalog-category .products .product.nm2 { margin-right: 0; }
	.catalog-category .products .track-line { display: none; }
	
	.catalog-category .product-view .left, .catalog-category .product-view .right { width: 100%; padding: 0; }
	.catalog-category .product-view .info { padding-top: 10px; }
	
	.catalog-category .product-view .right .s-btn.add-favorite { padding-left: 10%; }
	.catalog-category .product-view .right .s-btn.add-favorite img { top: 6px; }
	
	.catalog-category .product-view .right .s-btn.phoneback { padding-left: 10%; }
	.catalog-category .product-view .right .s-btn.phoneback img { top: 4px; }
	
	.s-form .row { margin: 0; }
	.s-form .row .column { display: table; padding: 0 2.85%; width: 94.3%; vertical-align: top; margin-bottom: 10px; }
}

@media screen and (max-width: 480px)
{
	.s-btn { font-size: 0.6675em; }
	.s-btn.favorite { padding-left: 8%; }
	.s-btn.favorite img { top: 7px; width: 13%; left: 7px; }
	.s-btn.back img { width: 29%; }
	header .top .logo { width: 82.2368%; }
	header .bot .bot-r  { font-size: 0.75em; }
	footer .dev { width: 22.86%; padding-left: 5%; }
	.content p img { width: 100%; margin-right: 0; }
	.content { font-size: 0.8em; }
	.content table { font-size: 0.8em; }
	.content ul li { background-position: left 2px; }
	.catalog-categories { padding: 0; }
	.catalog-categories .categories .category { display: table; width: 100%; padding: 10px 0; }
	.catalog-categories .categories .category .image { display: table-cell; width: 50%; }
	.catalog-categories .categories .category .title { display: table-cell; width: 50%; padding-top: 0; vertical-align: middle; }
	
	.catalog-category h1 { font-size: 1.5em; }
	.catalog-category .products .product { width: 100%; }
	.catalog-category .products .product.nm3 { margin-right: 0%; }
	.catalog-category .products .product.nm2 { margin-right: 0; }
	
	.catalog-category .product-view .right .s-btn { font-size: 0.95em; }
	
	header .top .helps .att { top: 42%; font-size: 0.7em; }
	
	.catalog-category .product-view .right .s-btn.add-favorite { padding-left: 14%; }
	
	.catalog-category .product-view .right .s-btn.phoneback { padding-left: 14%; }
	.catalog-category .product-view .right .s-btn.phoneback img { top: 5px; }
	
	.catalog-category h1 { line-height: 1.8em; }
	.catalog-category h1 span { display: inline-block; }
	
	.pb-form .s-btn { font-size: 0.875em; }
	.pb-form .row label { width: 100%; }
	.pb-form .row input[type=text] { width: 93%; }
}